NET clk           LOC = T18  | CLOCK_DEDICATED_ROUTE=FALSE | IOSTANDARD=LVCMOS18;  # "BTNU"
NET clear_n       LOC = F22  | IOSTANDARD=LVCMOS18;  # "SW0"
NET enable        LOC = G22  | IOSTANDARD=LVCMOS18;  # "SW1"
NET q[0]          LOC = T22  | IOSTANDARD=LVCMOS33;  # "LD0"
NET q[1]          LOC = T21  | IOSTANDARD=LVCMOS33;  # "LD1"
NET q[2]          LOC = U22  | IOSTANDARD=LVCMOS33;  # "LD2"
NET q[3]          LOC = U21  | IOSTANDARD=LVCMOS33;  # "LD3"
