NET sel       LOC = F22  | IOSTANDARD=LVCMOS18;  # "SW0"
NET a         LOC = G22  | IOSTANDARD=LVCMOS18;  # "SW1"
NET b         LOC = H22  | IOSTANDARD=LVCMOS18;  # "SW2"
NET mux_o     LOC = T22  | IOSTANDARD=LVCMOS33;  # "LD0"
